# Prerequisites
*.d
*.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio left-overs
*.suo
*.ncb
*.user
*.ccscc
*.cache

# Editor left-overs
*.bak

# Compiled files
*/bin/
*/obj/
*/Obj/
*/Generated_Code/
PrecompiledWeb
*/ClientBin

# Windows left-overs
Thumbs.db
